http:
    port: 8080

postgres:
    pool_max: 80

rabbitmq:
    wait_time: 5
    attempts: 10

sinopac:
    pool_max: 20

trade_switch:
    simulation: true
    buy: true
    sell: true
    sell_first: true
    buy_later: true
    mean_time_forward: 5
    mean_time_reverse: 5
    forward_max: 30
    reverse_max: 30
    # unit: minute
    hold_time_from_open: 5
    # unit: hours
    total_open_time: 4.5
    # unit: seccond
    trade_in_wait_time: 45
    trade_out_wait_time: 90
    # unit: hour(s) from 9:00
    trade_in_end_time: 3.75 # 10:15
    trade_out_end_time: 4 # 13:00

history:
    # unit: day
    history_close_period: 120
    history_tick_period: 3
    history_kbar_period: 120

quota:
    trade_quota: 1000000
    trade_tax_ratio: 0.0015
    trade_fee_ratio: 0.001425
    fee_discount: 0.35

target_cond:
    limit_price_low: 50
    limit_price_high: 125
    limit_volume: 2000
    black_stock:
        - 1314
        - 2317
        - 3481
        - 3701
    black_category:
        - 17
    real_time_targets_count: 10

analyze:
    # unit: %
    close_change_ratio_low: -2
    close_change_ratio_high: 7
    open_close_change_ratio_low: -5
    open_close_change_ratio_high: 5
    # unit: %
    out_in_ratio: 85
    in_out_ratio: 15
    # unit: %
    volume_pr_low: 75
    volume_pr_high: 95
    # unit: seccond
    tick_analyze_min_period: 5
    tick_analyze_max_period: 5.5
    # unit: times
    rsi_min_count: 500
    # rsi range: 0~1
    rsi_high: 0.7
    rsi_low: 0.3
    # unit: %
    max_loss: 2
    # unit: day
    ma_period: 60
